:root{
    --sidebar-bg: #111828;
    --nav-headbg: #111828;
    --headerbg: #111828;
    --sidebar-nav-bg: #1A2439;
    --primary: #A0CF1A;
    --primary-hover: #7da214;
    --primary-light:#A0CF1A;
    --primary-dark: #374709;
    --background:#fff;
    --secondary: #111828;
    --textA:#252525;
}
::-webkit-scrollbar {
    width: 5px;
    opacity: 0;
}
::-webkit-scrollbar-thumb {
    background: rgba(111, 133, 147, 0.1);
}
::selection {
    color: #fff;
    background: var(--primary);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    word-spacing: 1.2pt;
}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #F4F4F5;
    margin: 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #888888;
    background-color:#F4F4F5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
[data-theme-version="dark"]{
    --sidebar-bg: black;
    --nav-headbg: black;
    --headerbg: black;
    --sidebar-nav-bg: black;
    --background:#2c2c2c;
    --textA:#fff;
}
[data-theme-version="dark"] .nav-header {
    border-color: #444444;
    background-color: black;
}
[data-theme-version="dark"] .header .header-content {
    background-color: #2c2c2c;
    border-color: #444444;
}
[data-theme-version="dark"] .header-left .search-area {
    background-color: #000;
}
[data-theme-version="dark"] .header-left .search-area .input-group-text {
    background-color: #000;
}
[data-theme-version="dark"] .header-left .search-area .input-group-text svg circle {
    stroke: #fff;
}
[data-theme-version="dark"] .header-left .search-area .input-group-text svg path {
    stroke: #fff;
}
[data-theme-version="dark"] .header-left .search-area .form-control {
    background-color: #000;
}
[data-theme-version="dark"] .deznav {
    border-color: black;
    background-color: black;
}
[data-theme-version="dark"] .inner-body {
    background-color: #202020;
    border-color: #444444;
}
[data-theme-version="dark"] .header-info {
    color: #fff;
}
.deznav-scroll::-webkit-scrollbar {
    /* 设置滚动条轨道的颜色 */
    background-color:#fff0 ;
    width: 8px;
}

.deznav-scroll::-webkit-scrollbar-thumb {
    /* 设置滚动条滑块的颜色 */
    background-color:rgba(111, 133, 147, 0.1);
    width: 8px;
}

[data-theme-version="dark"] .deznav-scroll::-webkit-scrollbar-thumb {
    /* 设置滚动条滑块的颜色 */
    background-color: rgb(20 26 3);
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.ps-3 {
    padding-left: 1rem !important;
}
.fz-12{
    font-size: 12px;
}
.my-1{
    margin: 10px 0;
}
a{
    color: var(--textA);
    text-decoration: none;
}
.align-items-center {
    align-items: center !important;
}
.d-flex {
    display: flex !important;
}.ms-2 {
    margin-left: 0.5rem !important;
}
.ms-3 {
    margin-left: 1rem !important;
}
.mb-1 {
    margin-bottom: 0.25rem !important;
}
.d-block {
    display: block !important;
}.border-0 {
    border: 0 !important;
}.rounded {
    border-radius: 0.625rem !important;
}
.bg-primary-light{
    background-color: var(--primary-light) !important;
}
.bg-danger-light {
    background-color: #FFCCC0 !important;
}
.bg-warning-light {
    background-color: #FCEF73 !important;
}
.bg-info-light {
    background-color: #D7E3FF !important;
}
.bg {
   background: var(--background);
}
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.items-center	{align-items: center;}
.gap-2	{gap: 0.5rem; /* 8px */}
.gap-5	{gap: 1.25rem; /* 20px */}
.relative	{position: relative;}
.absolute	{position: absolute;}

.w-full{
    width: 100%;
}
.ell{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-break: break-all;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
#main-wrapper{
    position: relative;
    transition: all 0.25s ease-in;
}

.nav-header {
    height: 6.25rem;
    width: 18.75rem;
    display: inline-block;
    text-align: left;
    position: fixed;
    top: 0;
    background-color: #111828;
    transition: all .2s ease;
    z-index: 5;
    border-bottom: 1px solid rgba(33, 44, 69, 0.2);
}
[data-sidebar-style="full"] .menu-toggle .nav-header {
    width: 6.25rem;
    z-index: 999;
}
[data-sidebar-style="full"] .menu-toggle .nav-header .nav-control {
    right: -5.4rem;
}
.nav-header .brand-logo {
    padding-left: 1.45rem;
    padding-right: 1.45rem;
}

.nav-header .brand-logo {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    color: #fff;
    text-decoration: none;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    font-weight: 700;
    padding-top: 11px;
}

.nav-header .brand-title {
    margin-left: 0.6375rem;
    margin-top: 0.2rem;
    font-size: 2.375rem;
    color: #fff;
}

.menu-toggle .brand-title {
    display: none;
}

.nav-control {
    cursor: pointer;
    position: absolute;
    right: -5.4rem;
    text-align: center;
    top: 33px;
    z-index: 9999;
    font-size: 1.4rem;
    border-radius: 0.625rem;
    background-color: var(--primary);
    width: 2.813rem;
    height: 2.813rem;
}

.hamburger {
    display: inline-block;
    left: 0.1rem;
    position: relative;
    top: 0.5rem;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: 1.625rem;
    z-index: 999;
}

.hamburger .line {
    background: #fff;
    display: block;
    height: 1px;
    border-radius: 0.1875rem;
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
    margin-right: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger .line:nth-child(1) {
    width: 1.45rem;
}

.hamburger .line:nth-child(2) {
    width: 1.45rem;
}

.hamburger .line:nth-child(3) {
    width: 1.45rem;
}

.hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(4px) translateX(12px) rotate(45deg);
    transform: translateY(4px) translateX(12px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(2) {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    width: 1.375rem;
    height: 0.125rem;
}

.hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-4px) translateX(12px) rotate(-45deg);
    transform: translateY(-4px) translateX(12px) rotate(-45deg);
}

.hamburger.is-active .line:nth-child(1), .hamburger.is-active .line:nth-child(3) {
    width: 0.625rem;
    height: 0.125rem;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6.25rem;
    z-index: 1;
    padding: 0;
    background-color: var(--headerbg);
    z-index: 3;
    padding-left: 18.75rem;
    padding-top: 10px;
    padding-right: 10px;
    transition: all .2s ease;
}
.menu-toggle .header {
    padding-left: 6.25rem;
    width: 100%;
}
.header .header-content {
    height: 100%;
    padding-left: 6.75rem;
    padding-right: 1.075rem;
    align-items: center;
    display: flex;
    background-color: #F4F4F5;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid #000000;
}

.header .navbar {
    padding: 0;
    height: 100%;
    width: 100%;
}

.navbar-expand {
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.header .navbar .navbar-collapse {
    height: 100%;
    width: 100%;
}

.navbar-expand .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}

.justify-content-between {
    justify-content: space-between !important;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.header-left {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-left .search-area {
    width: 20.938rem;
    background-color: #fff;
    border-radius: 0.625rem;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.header-left .search-area .input-group-text {
    background-color: transparent;
    border: 0;
    padding-right: 0;
}
.input-group-text {
    min-width: 3.125rem;
    justify-content: center;
    border-radius: 0.625rem;
    border-color: #E6E6E6;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #888888;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #E6E6E6;
    border-radius: 0.75rem;
}

.header-left .search-area .form-control {
    border: 0;
    background: transparent;
    font-size: 0.875rem;
    font-weight: 400;
    padding-left: 4px;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.form-control {
    background: #fff;
    color: #333333;
    line-height: 1.5;
    font-size: 13px;
    height: 2.813rem;
    border-radius: 0.625rem;
    border-color: #cdcdcd;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #888888;
    background-color: #F4F4F5;
    background-clip: padding-box;
    border: 1px solid #E6E6E6;
    appearance: none;
    border-radius: 0.75rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.navbar-expand .navbar-nav {
    list-style: none;
    display: flex;
    align-items: center;
}
.navbar-expand .navbar-nav {
    flex-direction: row;
}
.header-right {
    height: 100%;
}

.header-right .nav-item {
    display: flex;
    justify-content: center;
    position: relative;
}

.header-right .notification_dropdown .nav-link {
    position: relative;
    line-height: 1.6;
    height: 45px;
    width: 45px;
    margin: 0 6px;
    text-align: center;
    border-radius: 0.625rem;
}
.header-right .nav-item .nav-link {
    color: #464a53;
    font-size: 1.125rem;
}

[data-theme-version="dark"] .header-right .nav-item .nav-link {
    color: #fff;
    font-size: 1.125rem;
}

.open-cal {
    display: none !important;
}

.header-profile2 {
    position: relative;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.nav-link {
    display: block;
    padding: 0.5rem 0;
    color: rgba(0, 0, 0, 0.55);
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.header-right .header-media {
    width: 2.813rem;
    height: 2.813rem;
    margin-right: 7px;
}
.header-right .header-media img {
    border-radius: 100%;
}
.avatar.avatar-lg {
    height: 3rem;
    width: 3rem;
}
.avatar {
    height: 1.875rem;
    width: 1.875rem;
    display: inline-block;
    position: relative;
    object-fit: cover;
    border-radius: 0.625rem;
}
.header-info {
    margin-left: 8px;
    margin-top: 8px;
}
.header-right .header-info h6, .header-right .header-info .h6 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 4px;
    line-height: 1;
}
.header-right .header-info p {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 4px;
}

.header-profile2 .profile-box.active {
    opacity: 1;
    transition: opacity 0.5s linear;
    visibility: visible;
}
.header-profile2 .profile-box {
    position: absolute;
    background: #000;
    width: 326px;
    right: -18px;
    padding: 15px 20px;
    border-radius: 20px 0 0px 20px;
    top: 65px;
    opacity: 0;
    visibility: hidden;
}.header-profile2 .products {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}.header-profile2 .products .border-img {
    position: relative;
}.header-profile2 .products img {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    padding: 5px;
    border: 1px dashed #fff;
}
.header-profile2 .products h6, .header-profile2 .products .h6 {
    color: #fff;
}.products h6, .products .h6 {
    margin-bottom: 0;
}
.header-profile2 .account-setting .ai-icon {
    display: block;
    padding: 16px 0;
    font-size: 16px;
    color: white;
}
.dropdown-item {
    display: block;
    padding: 16px 0;
    font-size: 16px;
    color: white;
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dz-layout {
    background: #38445C;
    width: 54px;
    min-width: 54px;
    height: 30px;
    border-radius: 16px;
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 0 2px;
    align-items: center;
    z-index: 1;
    cursor: pointer;
}
.dz-layout i {
    display: block;
    line-height: 28px;
    font-style: normal;
    text-align: center;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}.dz-layout.light .sun {
    color: black;
}.dz-layout.light .moon {
    color: white;
}
.dz-layout.dark:after {
    transform: translateX(24px);
}
.dz-layout:after {
    background: #CFF859;
    border-radius: 24px;
    content: "";
    left: 3px;
    position: absolute;
    z-index: -1;
    top: 3px;
    height: 24px;
    width: 24px;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.deznav {
    position: fixed;
}
.deznav {
    width: 18.75rem;
    padding-bottom: 10px;
    height: calc(100% - 6.25rem);
    position: fixed;
    top: 6.25rem;
    padding-top: 30px;
    z-index: 6;
    background-color: rgb(17 24 40);
    transition: all .2s ease;
}[data-sidebar-style="full"] .menu-toggle .deznav {
    width: 6.25rem;
    overflow: visible;
    position: absolute !important;
}.deznav .deznav-scroll {
    position: relative;
    height: 100%;
    overflow-y: auto;
}[data-sidebar-style="full"] .menu-toggle .deznav .deznav-scroll {
    overflow-y: unset;
}.deznav .metismenu {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}
.deznav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.deznav .metismenu li {
    position: relative;
}
.deznav .metismenu > li {
    display: flex;
    flex-direction: column;
}
[data-sidebar-style="full"] .menu-toggle .deznav .metismenu > li {
    position: relative;
    transition: all 0.4s ease-in-out;
}
.deznav .metismenu ul li:before {
    content: "";
    height: 7px;
    width: 7px;
    background: rgb(207 248 89);
    position: absolute;
    left: 2.5rem;
    top: 16px;
    transition: all 0.5s;
    transform: rotate(45deg);
}
.deznav .metismenu a {
    position: relative;
    display: block;
    padding: 0.625rem 1.875rem;
    outline-width: 0;
    color: #737B8B;
    text-decoration: none;
}
.deznav .metismenu > li > a {
    font-size: 1rem;
    padding: 0.594rem 1.3rem;
    margin: 0px;
    display: flex;
    align-items: center;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.deznav .metismenu > li > a {
    color: rgba(255, 255, 255, 0.85) !important;
}
[data-sidebar-style="full"].menu-toggle .deznav .metismenu li {
    position: relative;
}
[data-sidebar-style="full"] .menu-toggle .deznav .metismenu > li > a {
    padding: 0.594rem 1.475rem;
    margin: 3px 0px;
    text-align: center;
}
[data-sidebar-style="full"] .menu-toggle .deznav .metismenu > li:hover > ul {
    height: auto !important;
    padding: 0.625rem 0;
}
[data-sidebar-style="full"] .menu-toggle .deznav .metismenu li:hover > ul {
    display: block !important;
    height: auto;
    overflow: visible;
}
[data-sidebar-style="full"] .menu-toggle .deznav .metismenu li > ul {
    position: absolute;
    left: 6.25rem;
    top: 3px;
    width: 12rem;
    z-index: 1001;
    display: none !important;
    padding-left: 0.0625rem;
    height: auto !important;
    box-shadow: 1rem 0.75rem 1.25rem 0 rgba(82, 63, 105, 0.1);
    margin-left: 0;
    border: 0;
    border-radius: 0 2rem 2rem 0;
    background: var(--sidebar-bg);
    color: var(--textA);
    border-top: 1px solid #444444;
    border-right: 1px solid #444444;
    border-bottom: 1px solid #444444;
}
[data-sidebar-style="full"] .menu-toggle .deznav .metismenu ul li:before {
    display: none; }
[data-sidebar-style="full"] .menu-toggle .deznav #menu .header__dropdown-menu a {
    padding-left: 20px;
    margin-bottom: 10px;
    line-height: 2.0;
}
[data-sidebar-style="full"] .menu-toggle .deznav .metismenu > li:hover  > a.dropdown-toggle  .menu-icon{
    border-radius: 50% 0 0 50%;
    background-color: var(--primary-light);
}
[data-sidebar-style="full"] .menu-toggle .deznav .metismenu li .mini-dashboard:after {
    content: "";
    position: absolute;
    top: -1px;
    left: -40px;
    height: 50px;
    width: 14rem;
    background: var(--primary-light);
    z-index: -1;
    border-radius: 0 30px 30px 0;
}
[data-sidebar-style="full"] .menu-toggle .deznav .metismenu li .mini-dashboard a{
    display: block;
    font-size: 15px;
    font-weight: 700;
    z-index: 6;
    color: #111828;
}
[data-sidebar-style="full"][data-theme-version="dark"] .deznav .metismenu .dropdown-menu a {
    color: #fff;
}

  #menu li {
    position: relative;
  }
  .dropdown-menu {
    display: none;
  }
  .mm-active {
    font-weight: bold;
  }
  .mm-show {
    display: block;
  }
#menu .header__dropdown-menu.open{
    display: block;
}
.deznav #menu .header__dropdown-menu a{
    padding-left: 4.8rem;
}
[data-sidebar-style="full"] .menu-toggle .deznav .metismenu ul a:before{
    display: none;
}
[data-sidebar-style="full"] .deznav .metismenu ul a:before {
    content: "";
    height: 0.125rem;
    width: 0.375rem;
    background: var(--textA);
    position: absolute;
    left: 3.5rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
[data-sidebar-style="full"] .deznav .metismenu ul a:hover:before {
            width: 0.75rem; }
            
[data-sidebar-style="full"] .deznav .metismenu ul a.mm-active:before {
    width: 0.75rem;
}
[data-sidebar-style="full"] .menu-toggle .deznav .metismenu > li > a {
    padding: 0.594rem 1.475rem;
    margin: 3px 0px;
    text-align: center;
    background: transparent;
}
[data-sidebar-style="full"] .menu-toggle .deznav .metismenu li a i {
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin-right: 0;
}
[data-sidebar-style="full"] .menu-toggle .deznav .nav-text {
    display: none;
}


.outer-body {
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: var(--sidebar-bg);
    padding-left: 18.75rem;
}
[data-sidebar-style="full"] .menu-toggle .outer-body {
    padding-left: 6.25rem;
}
.inner-body {
    background-color: #F4F4F5;
    border-radius: 0 0 20px 20px;
    overflow-y: auto;
    height: 100%;
    border: 1px solid #000000;
}
.deznav .metismenu > li > a .menu-icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 3.1;
    border-radius: 50%;
    background-color: rgba(33, 44, 69, 0.05);
    margin-right: 17px;
    line-height: 2;
}
.menu-toggle .deznav .metismenu > li > a .menu-icon {
    margin-right: 0;
}
.deznav .metismenu > li > a .menu-icon {
    background-color: rgba(255, 255, 255, 0.1);
}
.deznav .metismenu > li > a .menu-icon i{
    font-size: 25px;
}
.deznav .metismenu > li:hover > a .menu-icon{
    background: var(--primary);
}
[data-theme-version="dark"] .deznav .metismenu > li > a .menu-icon{
    background: #202020;
}
[data-theme-version="dark"] .deznav .metismenu > li:hover > a .menu-icon{
    background: #DCDFE5;
    color: #000;
}
.content-body{
    padding-top: 5.5rem;
}
.outer-body .content-body {
    margin-left: 0;
}
.container-fluid{
    padding-top: 2.5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}
.box-warpper {
    padding-right: 19.5rem;
}
.card {
    margin-bottom: 20px;
    transition: all .5s ease-in-out;
    position: relative;
    border: 0rem solid transparent;
    border-radius: 0.625rem;
    height: calc(100% - 20px);
    border: 1px solid #000000;
}
.card-header{
    border-color: #000000;
    position: relative;
    padding: 10px 20px;
}
.gg span{
    border:1px solid #444444;
    padding: 5px 10px;
    border-radius: .2rem;
    background: var(--background);
    color: var(--textA);
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 12px;
    opacity: .8;
}
.depostit-card .depostit-card-media h6, .depostit-card .depostit-card-media .h6 {
    color: black !important;
}
.depostit-card .depostit-card-media h3, .depostit-card .depostit-card-media .h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
    color: var(--secondary) !important;
}

.depostit-card-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.card-header h3.title{
    padding: 0.2rem 1rem;
    font-size: 1.8rem;
    line-height: 4rem;
    font-weight: bold;
    position: relative;
    color: var(--textA);
}
.card-header h3.title:before {
    content: '';
    position: absolute;
    top: 1.5rem;
    bottom: 1.5rem;
    left: calc(-.2rem + 2px);
    width: 5px;
    border-radius: 2px;
    background: var(--primary);
}
.card-header p.desc{
    color: var(--textA);
    font-size: .68rem;
    opacity: .8;
}
.card-header .right{
    color: var(--textA);
    opacity: .8;
}
.card-header .right h5{
    line-height: 2.5rem;
}
[data-sidebar-style="mini"] .nav-control{
    display: none;
}
[data-sidebar-style="mini"] .header .header-content {
    padding-left: 1.075rem;
}
[data-sidebar-style="mini"] .header-left .search-area {
    width: 10.75rem;
}
[data-sidebar-style="mini"] .deznav {
    width: 6.25rem;
}
[data-sidebar-style="mini"] .deznav .deznav-scroll {
    overflow-y: unset;
}
[data-sidebar-style="mini"] .deznav .nav-text {
    display: none;
}
[data-sidebar-style="mini"] .outer-body {
    padding-left: 6.25rem;
}
[data-sidebar-style="mini"] .nav-header {
    width: 6.25rem;
}
[data-sidebar-style="mini"] .brand-title {
    display: none;
}
[data-sidebar-style="mini"] .header {
    padding-left: 6.25rem;
    width: 100%;
}
[data-sidebar-style="mini"] .deznav .metismenu > li > a .menu-icon {
    margin-right: 0;
}
.calendar-warpper {
    position: absolute;
    width: 20.1rem;
    right: 1px;
    top: 6.25rem;
    padding-right: calc(20px * .5);
    height: calc(100vh - 5.7rem);
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.calendar-warpper .card {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0 0 20px 0px;
}

.event-scroll {
    padding: 0 1.25rem;
    padding-top: 26px;
}
.dz-scroll {
    overflow-y: auto;
}
.dz-scroll {
    position: relative;
}
.calendar-warpper .mwordstar-block .picker-switch{
    color: var(--textA);
    text-align: center;
}
.calendar-warpper .table-bordered{
    width: 100%;
    padding-top: 1.2rem;
    text-align: center;
}
.table-condensed{
    display: flex;
    flex-direction: column-reverse;
}

[data-theme-version="dark"] .calendar-warpper .day {
    color: white !important;
}
.calendar-warpper .day.active a{
    text-decoration: none;
    color: var(--primary);
}
.calendar-warpper .calendar_bottom {
    color: var(--textA);
    padding-top: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendar-warpper .calendar_bottom a{
    color: var(--textA);
    text-decoration: none;
    border-radius: 0.625rem;
    background: var(--primary-light);
    color: #111828;
    padding: .5rem;
    font-size: 12px;
}
section.calendar.mwordstar-block {
    margin-bottom: 1.2rem;
}
[data-theme-version="dark"] #reader-wall h3{
    font-size: 16px;
    color: var(--textA);
    padding: 10px 0px;
    padding-bottom: 5px;
    margin: 10px 0;
    text-transform: capitalize;
}

 #reader-wall h3{
    font-size: 16px;
    color: var(--textA);
    padding: 10px 0px;
    padding-bottom: 5px;
    margin-bottom: 0;
    text-transform: capitalize;
}

#reader-wall>.readers-list ul{
    padding: unset;
    margin: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:.5rem;
}


#reader-wall>.readers-list li {
    height: fit-content;
    list-style: none;
}


#reader-wall>.readers-list a>em {
    font-size: 1rem;
    font-family: fangsong;
    max-width: 58%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    text-align: center;
}
#reader-wall a{
    font-size: 13px;
    font-weight: 500;
    color: var(--textA);
    margin-bottom: 0;
    margin-top: 12px;
    text-decoration: none;
}
#reader-wall strong{
    display: block;
    text-align: center;
    opacity: .8;
    font-size: 12px;
}

#reader-wall .friend-user{
    text-align: center;
    padding: 8px 6.4px;
    border-radius: 10px;
}
#reader-wall .friend-user li{
    padding: .5rem .3rem;
}
#reader-wall .friend-user li:hover{
    background: #eee;border-radius:.3rem; }

    
[data-theme-version="dark"] #reader-wall .friend-user li:hover {
    background: #000;
}

.avatar.avatar-lg {
    height: 3rem;
    width: 3rem;
}

.home-footer {
    padding: 0.9375rem;
    transition: all .5s ease-in-out;
}
.home-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    padding: 1rem;
    font-size: .75rem;
    line-height: 2rem;
    -webkit-column-break-inside: avoid;
    position: relative;
    color: var(--textA);
}
.footer {
    font-size: 0.813rem;
    font-weight: 400;
    margin-top: 1rem;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000
}

.footer a{
    color: var(--textA);
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.footer a:hover{
    color: var(--primary);
    transition: all .5s ease-in-out;
}

.footer .foot_left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.footer .foot_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .foot_right i {
    font-size: .875rem;
    margin: 0.0875rem;
    color: var(--primary);
    position: relative;
    line-height: .0875rem;
}

.footer p img {
    width: 0.875rem;
    height: 0.875rem;
    margin: 0 0.125rem;
}

.grid{
    display: grid;
    gap: 1rem;
}
.cardtype {
    grid-template-columns: repeat(3,1fr);
}
.cardtype.two {
    grid-template-columns: repeat(2,1fr);
}
.post_card .card-header{
    position: relative;
    padding:0;
    height: 270px;
}

.post_card img{
    position: relative;
    display: block;
    width: 100%;
    aspect-ratio: 16 / 11;
    object-fit: cover;
    border-radius:0.625rem 0.625rem 0 0;
    padding:5px;
    transition: .5s;
    -webkit-transition: .5s;
}
.post_card .posts-loop:hover img{
    transform: scale(1.1);
    border-radius:0.625rem;
}
.post_card .gg img{
    border-radius:0.625rem;
    padding:0;
}
.post_card .posts-loop:hover .gg img{
    transform: scale(1.0);
}
.post_card .card .card-bottm{
    padding: 5px 8px;
    word-break: break-all;
}
.post_card .card .card-bottm a{
    color: var(--textA);
    text-decoration: none;
}
.post_card .card .card-bottm .tags , .post_card .card .card-bottm .category{
    margin: .5rem .5rem .5rem 0 ;
}
.post_card .card .card-bottm .tags a{
    padding: 5px;
    border-radius: .2rem;
    opacity: .2;
    font-size: 12px;
    background: var(--sidebar-bg);
    color: #fff;
}
.post_card .card .card-bottm .tags .category a{
    padding: 5px;
    border-radius: .2rem;
    opacity: .5;
    font-size: 12px;
    background: var(--background);
    color: #fff;
}
.post_card .card .card-bottm .category a{
    padding: 5px;
    border-radius: .2rem;
    opacity: .5;
    font-size: 12px;
    background: var(--sidebar-bg);
    color: #fff;
    line-height: 2;
}
.Index_Links{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.Index_Links a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: .5rem .8rem;
    border-radius: 20rem;
    background: var(--background);
    border:1px solid #000000;
}
.Index_Links img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.article-top{
    color: var(--textA);
}
.article-top .info h1{
    font-size: 26px;
}
.article-top .info{
    padding: 10px ;
    font-size: 12px;
}
.article-top .info span{
    opacity: .6;
}
.article-top img{
    object-fit: cover;
    border-radius: 0.625rem 0.625rem 0 0;
    border: 1px solid #000000;
}
.post-content {
    padding: 10px ;
    color: var(--textA);
    opacity: .8;
    
}
#widget-toc .title{
    font-size: 16px;
    color: var(--textA);
    padding: 10px 0px;
    padding-bottom: 5px;
    margin: 10px 0;
    text-transform: capitalize;
}
.post-tags .title{
    font-size: 16px;
    color: var(--textA);
    padding: 10px 0px;
    padding-bottom: 5px;
    margin: 10px 0;
    text-transform: capitalize;
    
}
.widget-toc .ul-toc li a{
    font-size: 12px;
}

.widget-toc .ul-toc li{
    padding: 5px 0;
    list-style: none;
}

.widget-toc .ul-toc li a.active{
   font-size: 14px;
   transition: 0.3s;
   color: var(--primary);
}
.post-content p {
    font-size: 16px;
    margin: 10px 0;
    line-height: 2.2;
    letter-spacing: 3pt;
}

.post-content blockquote {
    font-size: 14px;
    margin: 20px 0;
    line-height: 2.2;
    letter-spacing: 3pt;
    border-left: 5px solid var(--primary);
    padding: 5px 0px 5px 10px;
    background: rgb(179 217 72 / 35%) ;
}

.post-content a {
    margin: 0 5px;
    color: var(--primary);
    border-bottom: 1px dashed var(--primary);
}

.post-content code:not([class]) {
    color: var(--primary);
    background:rgb(160 207 26 / 5%);
    padding: .2rem .5rem ;
    border-radius: .2rem;
}

.post-content ol {
    margin: 30px 0;
}

.post-content ol li {
    font-size: 14px;
    line-height: 2.2;
    letter-spacing: 3pt;
    margin-left: 30px;
}

.post-content h1 , .post-content h2 , .post-content h3, .post-content h4, .post-content h5, .post-content h6{
    margin: 20px 0;
}

.post-content waterfall {
	display: flex;
	flex-wrap: wrap;
	gap: 0 .5rem;
}

.post-content waterfall>* {
	flex-grow: 1;
}

.post-content waterfall>* [data-fancybox*=gallery] {
	position: relative;
	display: flex;
	justify-content: center;
}

.post-content waterfall>* img {
	display: block;
	max-width: 100%;
	object-fit: cover;
	transition: 0.5s;
	height: 12rem;
	max-height: 30vw;
	flex-grow: 1;
}

.post-content img[data-src]:not(.loaded) {
	filter: blur(10px) brightness(1);
}

.post-content img[data-src].lazyloaded {
	cursor: zoom-in;
	filter: none;
}

img {
	-webkit-transition: filter 375ms ease-in .2s, -webkit-transform .6s;
	-moz-transition: filter 375ms ease-in .2s, -moz-transform .6s;
	-o-transition: filter 375ms ease-in .2s, -o-transform .6s;
	-ms-transition: filter 375ms ease-in .2s, -ms-transform .6s;
	transition: filter 375ms ease-in .2s, transform .6s;
}

.post-content img {
	max-width: 100%;
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
    transition: .3s;
    border-radius: 0.2rem;
}

.post-content img:hover {
	transition: .3s;
	filter: brightness(50%);
}

.article-comments .comment-list > .comment-body > .comment-children > .comment-list > .comment-body{
    margin: 30px 0 20px 25px;
}

.comment-body{
    margin: 40px 0;
}
.py-1\.5	{padding-top: 0.375rem; /* 6px */
padding-bottom: 0.375rem; /* 6px */}
.my-3	{margin-top: 0.75rem; /* 12px */
margin-bottom: 0.75rem; /* 12px */}
.opacity-15 {opacity: 0.15;}

.opacity-85	{opacity: 0.58;}
.comment-list li{
    list-style: none;
}
.comment-author .avatar{
    width: 50px;
    height: 50px;
}
.respond input , .respond textarea{
    display: block;
    width: 100%;
    padding: 0.45rem 0.9rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--textA);
    background-color: var(--background);
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:1px solid #000000;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.respond button{
    margin: 10px 0;
    border: 1px solid var(--primary);
    display: inline-block;
    color: var(--primary);
    width: 100px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: var(--background);
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
#back-to-top{
    display: none;
    color: var(--textA);
}
body.active .login-open{
    position: fixed;
    z-index: 99;
    transition: .3s;
    display: flex;
    left: 0;
    
}
body.active #main-wrapper:before{
    content: "";
    position: fixed;
    background: rgb(0 0 0 / 75%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.login-open{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 10px;
    display: none;
    transition: .3s;
    justify-content: center;
    left: -1000px;
}
.login-card {
    background-color: var(--background);
    box-shadow: 0 10px 50px -30px var(--background);
    max-width: 1200px;
    border-radius: 30px;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}
.login-card .column{
    padding: 4rem;
}
.login-card h1 {
    margin-bottom: 15px;
}
.login-card form {
    margin-top: 3rem;
}
.login-card form>* {
    margin-top: 1rem;
}.login-card .form-element {
    width: 100%;
    border: 0;
    background-color: var(--background);
    padding: 20px 30px;
    font-size: 18px;
    border-radius: 50px;
    transition: box-shadow .2s;
    outline: 0;
    box-shadow: 0 0 0 2px #010101;
}.login-card form button {
    background-color: #010101;
    color: white;
    border: 0;
    padding: 20px 40px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    transition: all .2s;
}.login-card .column:last-child {
    text-align: center;
}
.login-card .column:last-child {
    background: var(--img) center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.login-card .column {
    padding: 4rem;
}
.login-card .column:last-child * {
    z-index: 1;
    color: var(--textA);
}.login-card .column:last-child:after {
    content: "";
    position: absolute;
    background: linear-gradient(90deg,var(--background),rgba(255,255,255,0));
    inset: 0;
}
.posts-loop.two{
    height: 120px;
    margin: 0;
}
.post_card .two img{
    width: 125px;
    border-radius: 0.625rem;
}
.post_card .two .gg img.gg{
    width: 100% !important;
    height: 120px;
}





@media screen and (max-width:90rem) {
    .open-cal {
        display: block !important;
    }
    .calendar-warpper {
        right: -27rem;
    }
    .calendar-warpper.active {
        right: 0;
        z-index: 3;
    }
}

@media only screen and (max-width: 87.5rem){
    .header-left .search-area .input-group-text {
        height: 3rem;
    }
    .header-left .search-area .form-control {
        height: 3rem;
    }
    .header-right .header-info h6, .header-right .header-info .h6 {
        margin-bottom: 4px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 90rem){
    .header-left .search-area {
        width: 18.75rem;
    }
    .header-profile2 .profile-box {
        top: 66px;
    }
    .box-warpper {
        padding-right: 0;
    }
    
}


@media (max-width: 767px){
    .container-fluid{
        padding:2.5rem 1rem 0 1rem;
    }
    [data-sidebar-style="overlay"] .deznav {
        left: -100%;
        -webkit-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }
    [data-sidebar-style="overlay"] .menu-toggle .deznav {
        left: 1px;
        z-index: 3;
        position: fixed !important;
    }
    [data-sidebar-style="overlay"] .outer-body {
        padding-left: 10px;
    }
    .nav-header {
        width: 5rem;
    }
    .nav-header .brand-title {
        display: none;
    }
    [data-sidebar-style="overlay"] .header {
        width: 100%;
        padding-left: 5rem;
    }
    [data-sidebar-style="overlay"] .nav-header {
        border-color: rgba(0,0,0,0);
    }
    [data-sidebar-style="overlay"] .header-left form{
        display: none;
    }
    [data-sidebar-style="overlay"] .header-info{
        display: none;
    }
    .wap\:grid{
        display: grid;
    }
    .home-footer{
        grid-template-columns: 1fr;
    }
    .footer .foot_left {
        align-items: center;
    }
    
    .login-card .column:last-child{
        display: none;
    }
    
}

@media screen and (max-width: 767px){
    .census__basic-item.category{
        display: none;
    }
    .cardtype {
        grid-template-columns: repeat(2,1fr);
    }
    .cardtype.two {
        grid-template-columns: repeat(1,1fr);
    }
    .md\:grid{
        display: grid;
    }
    .card-header .right{
        padding-top: .2rem;
        border-top:1px solid #444444;
    }
}

@media screen and (max-width: 426px){
    .cardtype {
        grid-template-columns: repeat(1,1fr);
    }
}







